<!--
    header, section, footer, aside, nav, main, article {
border-radius: 5px;
}
.Sverige{
  text-align: center;
}
.USA{
  text-align: center;
}
.Australien{
  text-align: center;
}
.SHM{
  font-size: 50px;
}
.links{
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
}
  a.links:hover{
    color: #BFACB5;
  }
